In [1]:
from pandas import read_csv 
import numpy as np

In [2]:
read_csv('international-airline-passengers.csv', usecols=[1])

     International airline passengers: monthly totals in thousands. Jan 49 ? Dec 60
0                                                  112
1                                                  118
2                                                  132
3                                                  129
4                                                  121
5                                                  135
6                                                  148
7                                                  148
8                                                  136
9                                                  119
10                                                 104
11                                                 118
12                                                 115
13                                                 126
14                                                 141
15                                                 135
16                                                 125
17                                                 149
18                                                 170
19                                                 170
20                                                 158
21                                                 133
22                                                 114
23                                                 140
24                                                 145
25                                                 150
26                                                 178
27                                                 163
28                                                 172
29                                                 178
..                                                 ...
114                                                491
115                                                505
116                                                404
117                                                359
118                                                310
119                                                337
120                                                360
121                                                342
122                                                406
123                                                396
124                                                420
125                                                472
126                                                548
127                                                559
128                                                463
129                                                407
130                                                362
131                                                405
132                                                417
133                                                391
134                                                419
135                                                461
136                                                472
137                                                535
138                                                622
139                                                606
140                                                508
141                                                461
142                                                390
143                                                432

[144 rows x 1 columns]

In [3]:
df = read_csv('international-airline-passengers.csv', usecols=[1])
df.describe()

       International airline passengers: monthly totals in thousands. Jan 49 ? Dec 60
count                                         144.000000
mean                                          280.298611
std                                           119.966317
min                                           104.000000
25%                                           180.000000
50%                                           265.500000
75%                                           360.500000
max                                           622.000000

In [4]:
values = df.values.astype('float32')#convert int into float
values.shape

(144, 1)

In [5]:
train_size = int((values.shape[0] * 0.67))
test_size = values.shape[0]  - train_size
train = values[0:train_size]
test = values[train_size:]

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range =(0,1))
train = scaler.fit_transform(train)
test = scaler.transform(test)

In [7]:
def create_dataset(data, k):
    dataX, dataY = [],[]
    for i in range(data.shape[0] - k):
        x = data[i:i + k, 0]
        y = data[i + k, 0]
        dataX.append(x)
        dataY.append(y)
    return np.array(dataX), np.array(dataY)

In [8]:
#for past 12 month
create_dataset(test, 12)

(array([[0.682848  , 0.63754046, 0.815534  , 0.7896441 , 0.8122978 ,
         1.0291263 , 1.1682849 , 1.1747574 , 0.97087383, 0.7864078 ,
         0.6504855 , 0.7508091 ],
        [0.63754046, 0.815534  , 0.7896441 , 0.8122978 , 1.0291263 ,
         1.1682849 , 1.1747574 , 0.97087383, 0.7864078 , 0.6504855 ,
         0.7508091 , 0.7637541 ],
        [0.815534  , 0.7896441 , 0.8122978 , 1.0291263 , 1.1682849 ,
         1.1747574 , 0.97087383, 0.7864078 , 0.6504855 , 0.7508091 ,
         0.7637541 , 0.69255674],
        [0.7896441 , 0.8122978 , 1.0291263 , 1.1682849 , 1.1747574 ,
         0.97087383, 0.7864078 , 0.6504855 , 0.7508091 , 0.7637541 ,
         0.69255674, 0.8349515 ],
        [0.8122978 , 1.0291263 , 1.1682849 , 1.1747574 , 0.97087383,
         0.7864078 , 0.6504855 , 0.7508091 , 0.7637541 , 0.69255674,
         0.8349515 , 0.7896441 ],
        [1.0291263 , 1.1682849 , 1.1747574 , 0.97087383, 0.7864078 ,
         0.6504855 , 0.7508091 , 0.7637541 , 0.69255674, 0.8349515 ,
         0.7896441 , 0.8381878 ],
        [1.1682849 , 1.1747574 , 0.97087383, 0.7864078 , 0.6504855 ,
         0.7508091 , 0.7637541 , 0.69255674, 0.8349515 , 0.7896441 ,
         0.8381878 , 1.0711975 ],
        [1.1747574 , 0.97087383, 0.7864078 , 0.6504855 , 0.7508091 ,
         0.7637541 , 0.69255674, 0.8349515 , 0.7896441 , 0.8381878 ,
         1.0711975 , 1.2524272 ],
        [0.97087383, 0.7864078 , 0.6504855 , 0.7508091 , 0.7637541 ,
         0.69255674, 0.8349515 , 0.7896441 , 0.8381878 , 1.0711975 ,
         1.2524272 , 1.2977347 ],
        [0.7864078 , 0.6504855 , 0.7508091 , 0.7637541 , 0.69255674,
         0.8349515 , 0.7896441 , 0.8381878 , 1.0711975 , 1.2524272 ,
         1.2977347 , 0.97087383],
        [0.6504855 , 0.7508091 , 0.7637541 , 0.69255674, 0.8349515 ,
         0.7896441 , 0.8381878 , 1.0711975 , 1.2524272 , 1.2977347 ,
         0.97087383, 0.82524276],
        [0.7508091 , 0.7637541 , 0.69255674, 0.8349515 , 0.7896441 ,
         0.8381878 , 1.0711975 , 1.2524272 , 1.2977347 , 0.97087383,
         0.82524276, 0.66666675],
        [0.7637541 , 0.69255674, 0.8349515 , 0.7896441 , 0.8381878 ,
         1.0711975 , 1.2524272 , 1.2977347 , 0.97087383, 0.82524276,
         0.66666675, 0.75404537],
        [0.69255674, 0.8349515 , 0.7896441 , 0.8381878 , 1.0711975 ,
         1.2524272 , 1.2977347 , 0.97087383, 0.82524276, 0.66666675,
         0.75404537, 0.82847905],
        [0.8349515 , 0.7896441 , 0.8381878 , 1.0711975 , 1.2524272 ,
         1.2977347 , 0.97087383, 0.82524276, 0.66666675, 0.75404537,
         0.82847905, 0.7702266 ],
        [0.7896441 , 0.8381878 , 1.0711975 , 1.2524272 , 1.2977347 ,
         0.97087383, 0.82524276, 0.66666675, 0.75404537, 0.82847905,
         0.7702266 , 0.9773463 ],
        [0.8381878 , 1.0711975 , 1.2524272 , 1.2977347 , 0.97087383,
         0.82524276, 0.66666675, 0.75404537, 0.82847905, 0.7702266 ,
         0.9773463 , 0.94498384],
        [1.0711975 , 1.2524272 , 1.2977347 , 0.97087383, 0.82524276,
         0.66666675, 0.75404537, 0.82847905, 0.7702266 , 0.9773463 ,
         0.94498384, 1.0226538 ],
        [1.2524272 , 1.2977347 , 0.97087383, 0.82524276, 0.66666675,
         0.75404537, 0.82847905, 0.7702266 , 0.9773463 , 0.94498384,
         1.0226538 , 1.1909386 ],
        [1.2977347 , 0.97087383, 0.82524276, 0.66666675, 0.75404537,
         0.82847905, 0.7702266 , 0.9773463 , 0.94498384, 1.0226538 ,
         1.1909386 , 1.4368933 ],
        [0.97087383, 0.82524276, 0.66666675, 0.75404537, 0.82847905,
         0.7702266 , 0.9773463 , 0.94498384, 1.0226538 , 1.1909386 ,
         1.4368933 , 1.472492  ],
        [0.82524276, 0.66666675, 0.75404537, 0.82847905, 0.7702266 ,
         0.9773463 , 0.94498384, 1.0226538 , 1.1909386 , 1.4368933 ,
         1.472492  , 1.1618124 ],
        [0.66666675, 0.75404537, 0.82847905, 0.7702266 , 0.9773463 ,
         0.94498384, 1.0226538 , 1.1909386 , 1.4368933 , 1.472492  ,
         1.1618124 , 0.9805826 ],
        [0.75404537, 0.82847905, 0.7702266 , 0.9773463 , 0.94498384,
         1.0226538 , 1.1909386 , 1.4368933 , 1.472492  , 1.1618124 ,
         0.9805826 , 0.8349515 ],
        [0.82847905, 0.7702266 , 0.9773463 , 0.94498384, 1.0226538 ,
         1.1909386 , 1.4368933 , 1.472492  , 1.1618124 , 0.9805826 ,
         0.8349515 , 0.9741101 ],
        [0.7702266 , 0.9773463 , 0.94498384, 1.0226538 , 1.1909386 ,
         1.4368933 , 1.472492  , 1.1618124 , 0.9805826 , 0.8349515 ,
         0.9741101 , 1.012945  ],
        [0.9773463 , 0.94498384, 1.0226538 , 1.1909386 , 1.4368933 ,
         1.472492  , 1.1618124 , 0.9805826 , 0.8349515 , 0.9741101 ,
         1.012945  , 0.9288026 ],
        [0.94498384, 1.0226538 , 1.1909386 , 1.4368933 , 1.472492  ,
         1.1618124 , 0.9805826 , 0.8349515 , 0.9741101 , 1.012945  ,
         0.9288026 , 1.0194175 ],
        [1.0226538 , 1.1909386 , 1.4368933 , 1.472492  , 1.1618124 ,
         0.9805826 , 0.8349515 , 0.9741101 , 1.012945  , 0.9288026 ,
         1.0194175 , 1.1553398 ],
        [1.1909386 , 1.4368933 , 1.472492  , 1.1618124 , 0.9805826 ,
         0.8349515 , 0.9741101 , 1.012945  , 0.9288026 , 1.0194175 ,
         1.1553398 , 1.1909386 ],
        [1.4368933 , 1.472492  , 1.1618124 , 0.9805826 , 0.8349515 ,
         0.9741101 , 1.012945  , 0.9288026 , 1.0194175 , 1.1553398 ,
         1.1909386 , 1.3948221 ],
        [1.472492  , 1.1618124 , 0.9805826 , 0.8349515 , 0.9741101 ,
         1.012945  , 0.9288026 , 1.0194175 , 1.1553398 , 1.1909386 ,
         1.3948221 , 1.6763754 ],
        [1.1618124 , 0.9805826 , 0.8349515 , 0.9741101 , 1.012945  ,
         0.9288026 , 1.0194175 , 1.1553398 , 1.1909386 , 1.3948221 ,
         1.6763754 , 1.6245955 ],
        [0.9805826 , 0.8349515 , 0.9741101 , 1.012945  , 0.9288026 ,
         1.0194175 , 1.1553398 , 1.1909386 , 1.3948221 , 1.6763754 ,
         1.6245955 , 1.3074435 ],
        [0.8349515 , 0.9741101 , 1.012945  , 0.9288026 , 1.0194175 ,
         1.1553398 , 1.1909386 , 1.3948221 , 1.6763754 , 1.6245955 ,
         1.3074435 , 1.1553398 ],
        [0.9741101 , 1.012945  , 0.9288026 , 1.0194175 , 1.1553398 ,
         1.1909386 , 1.3948221 , 1.6763754 , 1.6245955 , 1.3074435 ,
         1.1553398 , 0.92556643]], dtype=float32),
 array([0.7637541 , 0.69255674, 0.8349515 , 0.7896441 , 0.8381878 ,
        1.0711975 , 1.2524272 , 1.2977347 , 0.97087383, 0.82524276,
        0.66666675, 0.75404537, 0.82847905, 0.7702266 , 0.9773463 ,
        0.94498384, 1.0226538 , 1.1909386 , 1.4368933 , 1.472492  ,
        1.1618124 , 0.9805826 , 0.8349515 , 0.9741101 , 1.012945  ,
        0.9288026 , 1.0194175 , 1.1553398 , 1.1909386 , 1.3948221 ,
        1.6763754 , 1.6245955 , 1.3074435 , 1.1553398 , 0.92556643,
        1.0614887 ], dtype=float32))

In [9]:
look_back = 12
trainX, trainY = create_dataset(train, look_back)
testX, testY = create_dataset(test, look_back)